<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SecurePinned - View all your pinned messages at a go</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
    body {
      background: ghostwhite;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
    }
    .nb {
      width: 50%;
      margin: auto;
      text-align: left;
    }
    strong {
      font-size: 13px;
      color: orange;
    }
    .pinned-item {
      border: 1px solid white;
      border-radius: 5px;
      width: 50%;
      margin: 1em auto;
      padding: 1em;
      text-align: left;
      background: #fff;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px;
    }
    h5 {
      margin-bottom: 0;
      /*font-size: 20px;*/
    }
    .pinned-message p {
      background: ghostwhite;
      padding: .5em;
      margin-top: 0;
      border-radius: 5px;
    }
    .pinned-message h5 {
      margin-bottom: 0;
    }
  </style>
</head>
<body>
  <h1>Pinned messages on <%= channel %></h1>
  <div class="nb">
    <strong>Note:</strong> The messages are rendered chronologically. This means recently pinned messages
    are displayed first followed by older messages.
  </div>
  <% pinned_messages.forEach(item => {%>
    <div class="pinned-item">
      <strong>msg_ID: <%= item.client_msg_id%></strong>
      <h5>
        Message from <%= item.pinned_info.pinned_by%> |
        Date: <%= new Date(item.pinned_info.pinned_ts * 1000).toLocaleDateString(undefined, {
          day: '2-digit',
          month: '2-digit',
          year: 'numeric'
        })%> |
        Team : <%= item.team%>
      </h5>
      <div class="pinned-message">
        <h5>Message:</h5>
        <p><%= item.text %></p>
      </div>
    </div>
  <% })%>
</body>
</html>